      :root {
    --main-bg-color: #264653;
    --white: #faf0e6; 
    --blacksmith:#6B5EAC;
    --alchemist:#E9C46A;
    --general:#2A9D8F;
    --council:#4B7EA8;
    --map:#A8465C;
    --tavern:#E76F51;
  }

body {
  background-color: var(--main-bg-color);

}

h1 {
    color: var(--white);
    text-align: center;
    padding: 20px;
    font-size: : 400%
}

h2 {
	color: white;
}
h3 {
  color: white;
}

p{
  color:white;
}


ul.a{
  color:white;
}




/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 40.0%;
  align-items: center;
  padding: 10px;
}

.column > img{
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container {
  display: grid;
  min-height: 400px;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  padding: 50px;
}

.grid-container > div {

}

.divvy{
  display:block;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  font-size: 30px;
}

.divvy > img {
  width: 33.3%;
}

 a {
  text-decoration: none;
  color:var(--white);
}

.grid-container > .general {
  background-color: var(--general);
}

.grid-container > .alchemist {
  background-color: var(--alchemist);
  opacity: .3;

}
.grid-container > .blacksmith {
  background-color: var(--blacksmith);
}
.grid-container > .council {
  background-color: var(--council);
}

.grid-container > .map {
  background-color: var(--map);
}

.grid-container > .tavern {
  background-color: var(--tavern);
  opacity: .3;
}

.newspaper {
  column-count: 2;
  align-items: center;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 0px;
  column-rule-color: white;
}


.general-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

.general-table td, .general-table th {
  border: 0px solid #ddd;
  padding: 8px;
}

.general-table tr:nth-child(even){background-color: var(--primary);}

.general-table tr:nth-child(odd){background-color: var(--white);}

.general-table tr:hover {background-color: #ddd;}

.general-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary);
  color: white;
}

 /* Dropdown Button */
.btn {
  background-color: var(--primary);
  color: white;
  padding: 16px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover, .dropdown:hover .btn  {
  background-color: var(--primary);
} 

 /* Container holding the image and the text */
.rumour {
  position: relative;
  background-image: url("static/img/scroll.png");
  min-height: 400px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top:100px;
  background-size: 100% 100%;
  color: var(--council);
}

.rumour > p{
  color:var(--background);
}


/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


.grid-container {
  display: grid;
  min-height: 400px;
  align-content: center;
  grid-template-columns: auto;
  grid-gap: 50px;
  padding: 50px;
}

.rumour {
  position: relative;
  background-image: url("static/img/scroll.png");
  min-height: 400px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top:100px;
  background-size: 100% 100%;
  color: var(--council);
}

}