<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Nassus</title>
</head>
<body>
 <h1>Rumour Board</h1>

<div class="grid-container">

  {% for i,rumour in rumours.iterrows() %}
   <div class="container">
    <img src="{{ url_for('static', filename= 'img/scroll.png') }}" alt="" style="width:100%;">
    <div class="text-block">
      <h4>{{rumour[0]}}</h4>
      <h5>{{rumour[1]}} - {{rumour[3]}} Session</h5>
      <h5>{{rumour[2]}}</h5>
      <p>{{rumour[4]}}</p>
    </div>
  </div> 
    {% endfor %}
</div>
</body>
</html>